#signup-role-select.modal
    .role-select
        = link_to 'Artist', new_user_registration_path(role: :artist), remote: true
        = link_to 'Fan', new_user_registration_path(role: :fan), remote: true

