%h1 Welcome!

%p First things first. Thanks for signing up and welcome to the Venue family. We are happy 
to have you here. Our goal is to create a community for every music lover!
%h2 Be in charge.
%p We at Venue believe that you should have a voice to decide who you want to see live on your local stage.
%p Now you are all set up. Go and explore our amazing bands and see you at the next show!

%p Cheers,
%p /The Venue Team