.mui-container
    #show
        %h1 Admin dashboard
        = link_to 'Manage campaigns', admin_campaigns_path, remote: true, class: 'mui-btn mui-btn--primary mui-btn--flat'
        = link_to 'Manage sliders', admin_sliders_path, remote: true, class: 'mui-btn mui-btn--primary mui-btn--flat'
    #content