.mui--text-dark-secondary.mui--text-display1
    = "Sliders (#{@sliders.count})"
%div
    = link_to 'New Slider', new_admin_slider_path, remote: true
%table.mui-table.mui-table--bordered#campaign-list
    %thead
        %tr
            %th Slider
            %th Content
            %th State
    %tbody
        - @sliders.each do |slider|
            = render partial: 'slider_table_row', locals: {slider: slider}