#header.mui-appbar.mui--z1
    .mui-container
        %table
            %tr.mui--appbar-height
                %td.mui--text-title
                    %a#logo.logo-venue{href: ""}
                %td.mui--text-right
                    %ul#main-nav.mui-list--inline.mui--text-body2
                        %li
                            %a{href: ""} Campaigns
                        %li
                            %a{href: ""} Artists
                        %li
                            %a{href: new_campaign_path} New Campaign                            
                        %li
                            %a{"data-target" => "#login-modal", "data-toggle" => "modal", href: "javascript: void(0)"} Log in
                        %li.buttoned
                            %a{"data-target" => "#signup-role-select", "data-toggle" => "modal", href: "javascript: void(0)"} Sign up
