%header#header.mui-appbar.mui--z1
    .mui-container
        %table
            %tr.mui--appbar-height
                %td.mui--text-title
                    %a#logo.logo-venue{href: "#"}
                %td.mui--text-right
                    %ul.mui-list--inline.mui--text-body2
                        %li
                            %a{href: "#", class: 'mui-btn mui-btn--flat mui-btn--primary'} Campaigns
                        %li
                            %a{href: "#", class: 'mui-btn mui-btn--flat mui-btn--primary'} Artists
                        %li
                            - if current_user&.artist?
                                = link_to 'New Campaign', new_campaign_path, remote: true, class: 'mui-btn mui-btn--flat mui-btn--primary'
                        %li
                            - if current_user&.artist?
                                = link_to 'Edit Profile', new_performer_path, remote: true, class: 'mui-btn mui-btn--flat mui-btn--primary'
                        %li
                            - unless current_user
                                = link_to 'Log in', new_user_session_path, remote: true, class: 'mui-btn mui-btn--flat mui-btn--primary'
                        %li
                            - unless current_user
                                = link_to 'Sign up', new_user_registration_path, remote: true, class: 'mui-btn mui-btn--flat mui-btn--primary'