.mui--text-dark-secondary.mui--text-display1
    = "Campaigns (#{@campaigns.count})"
    = link_to 'Back', admin_root_path, class: 'mui-btn mui-btn--primary mui-btn--flat', data: {turbolinks: false}

%table.mui-table.mui-table--bordered#campaign-list
    %thead
        %tr
            %th Campaign
            %th Status
            %th Action
    %tbody
        - @campaigns.each do |campaign|
            = render partial: 'campaign_table_row', locals: {campaign: campaign}