.mui-container-fluid
    .mui-row
        .mui-col-md-12
            %br/
            %span.logo-venue
            .terms_of_use
                %h1 About us
                %br/
                %br/
                Venue is a music company founded in 2018 and based in Stockholm, Sweden.
                Our mission is to help artist engage with their audience and rais funds to play concerts.
                %br/
                %br/
                We want to EMPOWER artists and bands to book their own shows on their OWN TERMS.
                Since its 2018 and most	of the stuff we	consume	is on demand we	think it ́s	time that we give 
                that CONTROL to Music fans and Artists to CREATE shows on demand! 
                We are ARTISTS,	we are	MANAGERS but most of all we	are	MUSIC FANS! 
                A lot of Bands and Artists out there have a	lot	of fans but	they need to be	better connected so	
                that their fans	can	see	them perform LIVE when they	want instead of	waiting	for	someone	to 
                book them.
                %br/
                %br/
                If you are a BAND or an	ARTIST sign	up and start a campaign	and	let	all	your fans know about	
                your planned show so that they can help	you	MAKE IT	HAPPEN!
                If you are a MUSIC FAN help	your favorite Band play	in	your city by spreading the word!
                We are not a booking agency, we	are	not	a record label,	we are not promoters....WE ARE VENUE!