.mui-container-fluid
    .mui-row
        .mui-col-md-12
            %br/
            %span.logo-venue
            .terms_of_use{style: 'margin-bottom: 70px;'}
                %h1 Information about Venue
                %br/
                Venue.show is a service available on the Internet at venue.show, referred to in the terms of use as Venue.
                %br/
                %br/

                Venue is a digital music platform connecting artists and fans to create concerts. Artist 
                is responsible for the informations given on their profile. In turn, Customer can use
                the platform features to find and reserve a spot at the concert. Venue does not give
                any warranty that the event will take a place as it’s using crowdfunding in order to 
                gather the funds. In that case every user that have bought the ticket will get a full 
                refund. 
                %br/
                %br/
                These Terms and Conditions apply to you as a Fan and Artist. By signing up for 
                Venue, you agree to these Terms of Use under this agreement. The terms of use are 
                valid in Europe. Users under the age of 18 may not use Venue without the parental 
                approval.
                %br/
                %br/
                %br/
                %h3 Responsibility for the events create through venue.show
                %br/
                The Artist and the Fan are responsible for all agreements made through Venue. 
                Venue is free from liability and obligations for unfulfilled agreements by either party. 
                In that case Fan will receive a full refund for their ticket. 
                Users are responsible for complying with Swedish law and regulations regarding VAT 
                reporting, tax payments and other fees related to the sale and purchase of Services.
                %br/
                %br/
                The Artist is ultimately responsible for the description of his Services and offers. The 
                information published by the Artist must be correct, not misleading and otherwise 
                compliant with Swedish law and applicable rules. Users are also responsible for the 
                copyright and publication rights of the material published by Venue.
                %br/
                %br/
                Venue does not accept that Users publish material or express themselves in Venue's 
                channels in a manner that may be considered offensive, offensive, invoke illegal 
                activity or inappropriate. The material published by the Users may not be harmful to, 
                or unfair to, Venue. Misuse of Venue's services and functions is prohibited. Venue is 
                responsible for the service according to the Electronic Bulletin Board Act (SFS (1998: 112)).
                %br/
                %br/
                %br/
                %h3 Immaterial rights 
                %br/
                Venue has the right to use the material published by Users such as texts, logos, 
                imagery and other material. Intellectual property rights are not transferred to Venue 
                without remaining at the User and its partner. Other material such as texts, graphics, 
                images and logos provided through the service are owned by Venue and are 
                protected under copyright and other intellectual property laws. The database as a 
                result of User activity on Venue is protected by copyright law.
                %br/
                %br/
                %br/
                %h3 Violation of law and Terms of Service 
                %br/
                Venue owns the right to turn off Users who violate Swedish law or this agreement. 
                Venue may refuse publication or remove published material if it violates these 
                Terms of Service. In case of repeated violations or serious violation of the rules, a User may 
                be terminated with immediate effect. Users who, through negligence, caused an 
                economic damage to Venue are obliged to replace this. Venue ensures the security 
                of the site through appropriate protection features. All violations of Venuel's system 
                are reported immediately. 
                %br/
                %br/
                The material posted by User may not:
                %br/
                Contain malicious code in the form of viruses, trojans or the like.
                %br/ 
                Include spam, advertising, chain letters or equivalent.
                %br/
                Contain pornography, violence, or the like.
                %br/ 
                Contain violent opinions or referring to people's groups.
                %br/ 
                Include personal data that infringes / violates privacy.
                %br/ 
                Invite to illegal activity.
                %br/ 
                Be false, incorrect, incorrect or misleading.
                %br/ 
                Violate applicable laws and regulations or confidentiality. 
                %br/
                %br/
                %br/
                %h3 Changed terms 
                %br/
                Venue has the right to change the Terms of Service. Users are bound to keep up to 
                date regarding Venue's Services and Terms of Service. In case of significant changes 
                affecting User activity on Venue, changes are notified by email and / or on the 
                Application. By using Venue, User accepts the current Terms of Service. If the User 
                wishes to cancel his business at Venue, this can be unsubscribed from 
                venue.show.
                %br/
                %br/
                %br/
                %h3 Price and fees
                %br/
                The use of Venue platform is free for everyone to use.  
                Venue makes money only if the event is confirmed. Venue takes a percentage of the 
                total amount of sold tickets. No fees are applied on neither Artist or Fan if the event’s 
                campaign does not meet the goal. 
                %br/
                %br/
                %br/
                %h3 Agreement Term 
                %br/
                Users are able to cancel their account at any time. In order for the cancellation to be 
                correct, the User must unsubscribe from www.venue.show. The user who terminates 
                his account must be responsible for any overheads this causes Venue or any other 
                User with which he has entered into an agreement.
                %br/
                %br/
                %br/
                %h3 Material, layout and text content 
                %br/
                Venue owns the right to change the design, layout and functionality of Venue. 
                Materials provided by User can be reviewed and edited by Venue. Venue, on the 
                other hand, is not responsible for the material published by the User is in any way 
                correct. If it is found that Venue's own or User's posted material is incorrect or 
                misleading, the incorrect information is immediately taken or edited. 
                %br/
                %br/
                %br/
                %h3 Rules for registration 
                %br/
                In order to use Venue's services, Users must have a registered account at 
                www.venue.show.
                Suppliers who register with Venue must be free to enter into agreements with Venue 
                or customers who, in turn, purchase the Supplier's services. 
                Venue owns the right to quality review suppliers and its offers as far as possible. 
                Venue reserves the right to correct User profiles in those cases where the correction 
                would generate better filtering functionality and search optimization. 
                Venue reserves the right to place certain users in multiple categories and give people 
                additional exposure if reasonable.
                Information associated with User Account must not be misleading or incorrect. 
                The supplier sets the price of his Services in SEK. 
                In order to receive payments, the Supplier needs to invoice Venue after performed 
                event. In cases where the Supplier uses a third party for billing, a reference number 
                must be entered. 

                Artist and venue owner may not enter into an Agreement regarding a Service, 
                exposed on Venue unless they immediately confirm this to Venue through the 
                applications and fulfill the obligations arising from these Terms. 
                %br/
                %br/
                %br/
                %h3 Specific Terms for Customers 
                %br/
                Venue owns the right to transfer accounts receivable to third parties. Customer's 
                payment terms or other invoice-specific commitments are not affected by any transfer 
                of invoice cancellation. 
                %br/
                %br/
                %br/
                %h3 Payment General provisions 
                %br/
                When buying tickets through “Gigstarter AB” Venue offers its customers to pay by 
                bank/credit card. Venue uses Stripe as their payment solution method. Well known 
                solution for safe payments on the internet.
                %br/
                %br/
                %br/
                Personal and company information 
                %br/
                Venue is personally responsible and is required to comply with the Personal Data 
                Act. Contact routes to us are at the bottom of this document. As authorized to 
                represent the Provider, you consent to the disclosure of your and the Supplier's 
                Company Listings registered on Venue at www.venue.show. Buyer and Supplier are 
                further informed that Buyer, Venue and its partners may contact the Supplier via 
                letter, telephone, e-mail and SMS. 
                %br/
                %br/
                %br/
                %h3 Cookies
                %br/
                Venue uses cookies to keep information about individual users activities at 
                www.venue.show. The information is used for: to verify login. to automatically fill in 
                relevant form fields for the user when visiting our websites. to check and identify the 
                user in activity on our sites ("session cookies"). If you do not accept cookies stored 
                on your computer, you will not be able to use Venue's services. By registering an 
                account, you approve of Venue's cookies and can thus start using the service. 
                %br/
                %br/
                %br/
                %h3 Discharge
                %br/
                Venue can not guarantee that the data on www.venue.show is correct, but strives 
                and actively works to ensure that these data are as accurate as possible. Fans, 
                Artists or venue owners do not own the right to make financial claims to Venue in 
                cases where it has not been published correctly on www.venue.show. Venue is not 
                responsible for the inability to fulfill its obligations under this Agreement due to 
                circumstances beyond the control of Venue, including (but not limited to) flood, fire, 
                war, labor conflicts, government regulations, injunctions or other public regulations, 
                overload of the Internet, errors in other networks, and system failures or refusal of 
                delivery from Venue's Suppliers.