#content
  #artist-banner{style: "background-image: url(web-images/artist-banner-1.jpg)"}
    .mui-container
      .mui-row
        .mui-col-md-12
          .artist-picture{style: "background-image: url(web-images/feat-card-1.jpg)"}
          %h1 Clare Cunningham
          .location Stockholm | Sweden
          .genre Rock
          .follow-request
            %a{href: "#"}> + Follow
              | 
            %a{href: "#"} + Request this artist
  #artist-details
    .mui-container
      .mui-row
        .mui-col-md-12
          %h3
            %a.active{href: "#"} Overview
            %a{href: "#"} Shows
      .mui-row.details-spotify
        .mui-col-md-12.mui-col-lg-8
          %h2 Clare Cunningham
          %p Dubbed as having a vocal register similar to Adele (GAFFA) and for having a ‘Powerful and killer voice’ from Lzzy Hale (Halestorm) and ‘Phil Campbell (Motörhead) it’s no wonder Clare Cunningham is making waves across the world with her music. Storytelling with unwavering honesty is what Cunningham is best at, and this little country rock/pop chick has proven she is a multi versatile recording and live artist, singing across many genres.
          %ul.artist-social-links
            %li
              %a{href: "#"}
                %i.fa.fa-twitter
                @clarecoffical
            %li
              %a{href: "#"}
                %i.fa.fa-facebook
                clarecoffical
            %li
              %a{href: "#"}
                %i.fa.fa-instagram
                @clarecoffical
          .youtube-container
            %iframe{allow: "autoplay; encrypted-media", allowfullscreen: "", frameborder: "0", height: "315", src: "https://www.youtube.com/embed/-1uGdOHMXiI?rel=0&showinfo=0", width: "560"}
        .mui-col-md-12.mui-col-lg-4.spotify-container
          %iframe{allow: "encrypted-media", allowtransparency: "true", frameborder: "0", height: "380", src: "https://open.spotify.com/embed/user/ozze/playlist/3dxUfHVBNwwyNbsaTMYmPb", width: "300"}
  .mui-container.artist-campaigns-container
    .mui-row
      .mui-col-lg-12
        %h2.standout-heading Campaigns
      .mui-col-md-12.mui-col-lg-7
        .tiled-campaigns-wrap.featured
          .tiled-campaigns
            .col.col-1
              %a.card{href: "#", style: "background-image: url('web-images/feat-card-1.jpg')"}
                %span.funded
                  %strong> 100%
                  Funded
                %span.details
                  %span.stats
                    %span.stat
                      %strong 120
                      Tickets sold
                    %span.stat
                      %strong 120
                      SEK
                    %span.stat
                      %strong 30
                      Days left
                  %span.reserve
                    Reserve Spot
                    %svg{style: "enable-background:new 0 0 24 24;", version: "1.1", viewbox: "0 0 24 24", x: "0px", "xml:space" => "preserve", xmlns: "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", y: "0px"}
                      %polygon{fill: "rgb(240,215,93)", points: "24,12 13.5,1.5 11.1,3.8 17.9,10.6 0,10.6 0,13.9 17.4,13.9 11.1,20.2 13.5,22.5 21.7,14.3 21.7,14.3"}
                %span.date-venue
                  %span.date 2018-09-01
                  %span.venue Venue City
                %span.caption Quisque dui
      .mui-col-md-12.mui-col-lg-5
        .tiled-campaigns-wrap
          .tiled-campaigns
            .col.col-2
              %a.card{href: "#", style: "background-image: url('web-images/feat-card-2.jpg')"}
                %span.funded
                  %strong> 100%
                  Funded
                %span.details
                  %span.stats
                    %span.stat
                      %strong 120
                      Tickets sold
                    %span.stat
                      %strong 120
                      SEK
                    %span.stat
                      %strong 30
                      Days left
                  %span.reserve
                    Reserve Spot
                    %svg{style: "enable-background:new 0 0 24 24;", version: "1.1", viewbox: "0 0 24 24", x: "0px", "xml:space" => "preserve", xmlns: "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", y: "0px"}
                      %polygon{fill: "rgb(240,215,93)", points: "24,12 13.5,1.5 11.1,3.8 17.9,10.6 0,10.6 0,13.9 17.4,13.9 11.1,20.2 13.5,22.5 21.7,14.3 21.7,14.3"}
                %span.date-venue
                  %span.date 2018-09-01
                  %span.venue Venue City
                %span.caption Mauris ipsum
              %a.card{href: "#", style: "background-image: url('web-images/feat-card-2.jpg')"}
                %span.funded
                  %strong> 100%
                  Funded
                %span.details
                  %span.stats
                    %span.stat
                      %strong 120
                      Tickets sold
                    %span.stat
                      %strong 120
                      SEK
                    %span.stat
                      %strong 30
                      Days left
                  %span.reserve
                    Reserve Spot
                    %svg{style: "enable-background:new 0 0 24 24;", version: "1.1", viewbox: "0 0 24 24", x: "0px", "xml:space" => "preserve", xmlns: "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", y: "0px"}
                      %polygon{fill: "rgb(240,215,93)", points: "24,12 13.5,1.5 11.1,3.8 17.9,10.6 0,10.6 0,13.9 17.4,13.9 11.1,20.2 13.5,22.5 21.7,14.3 21.7,14.3"}
                %span.date-venue
                  %span.date 2018-09-01
                  %span.venue Venue City
                %span.caption Fusce sodales
  .mui-container
    #similar-artists.mui-row.artists-list
      .mui-col-lg-12
        %h3.artist-heading Similar Artists.
      .mui-col-md-3.mui-col-sm-6.has-artists-items
        %a.artist-item{href: "#"}
          %span.thumb{style: "background-image: url(web-images/feat-card-3.jpg)"}
          %span.title Artist Name
      .mui-col-md-3.mui-col-sm-6.has-artists-items
        %a.artist-item{href: "#"}
          %span.thumb{style: "background-image: url(web-images/feat-card-3.jpg)"}
          %span.title Artist Name
      .mui-col-md-3.mui-col-sm-6.has-artists-items
        %a.artist-item{href: "#"}
          %span.thumb{style: "background-image: url(web-images/feat-card-3.jpg)"}
          %span.title Artist Name
      .mui-col-md-3.mui-col-sm-6.has-artists-items
        %a.artist-item{href: "#"}
          %span.thumb{style: "background-image: url(web-images/feat-card-3.jpg)"}
          %span.title Artist Name
      .mui-col-md-3.mui-col-sm-6.has-artists-items
        %a.artist-item{href: "#"}
          %span.thumb{style: "background-image: url(web-images/feat-card-3.jpg)"}
          %span.title Artist Name