.logo-venue { background: transparent image-url('logo-venue.svg') center center no-repeat; background-size: contain; display: table; margin-left: auto; margin-right: auto }
.form-group .form-submit { color: white; background-color: transparent; border: 1px solid rgb(240,215,93); border-radius: 50px; display: table; font-size: 13px; font-weight: bold; margin: 30px auto 0; padding: 5px 30px }
.mui-textfield > input { background-color: transparent; border: 0 none; /*border-color: #1E1E22; border-width: 3px 0 0; border-style: solid;*/ border-radius: 0; color: #FFF; height: 40px; padding: 8px 12px }

.artists-list .title { display: block; font-size: 23px; font-weight: 700; margin-top: 15px; text-align: center; -moz-transition: all 0.3s ease 0s; -webkit-transition: all 0.3s ease 0s; transition: all 0.3s ease 0s }

.carousel-wrapper {
  .carousel-control {
    cursor: pointer;
    background: transparent none;
    width: 100px;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 999;
    &:hover {
      background: transparent none;
      width: 100px;
      -moz-transition: all 0.3s ease 0s;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
    }
    svg {
      height: 40px;
      width: 95px;
    }
    &:nth-of-type(1) {
      height: 100px;
      position: absolute;
      left: 0;
      top: 50%;
    }
    
    &:nth-of-type(2) {
      height: 100px;
      position: absolute;
      right: 0;
      top: 50%;
    }

  }
}

.form-group {
  .form-submit { 
    background-color: transparent;
    color: #FFFF;
    border: 1px solid rgb(240,215,93);
    border-radius: 50px; 
    display: table; 
    font-size: 13px; 
    font-weight: bold; 
    margin: 30px auto 0; 
    padding: 5px 30px
  }
  ul.admin-links li { display: inline-block; }
}

.terms_of_use {
  color: #FFFF;
  font-size: 16px;
  margin: 30px auto 0; 
  margin-left: 160px;
  margin-right: 160px;
}

#footer {
    background-color: #3C3D44; 
    left: 0; 
    position: fixed;
    position: bottom; 
    bottom: 0; 
    width: 100%; 
    z-index: 1000;
  .mui-container { 
    z-index: 1;
  }
  .mui-row { 
  align-items: center; 
  position: bottom; 
  height: 60px; 
  justify-content: center 
  }
  .mui-row > * { 
    display: flex
  }
  #logo { 
    display: inline-block;
    justify-content: center; 
    height: 20px; 
    margin: 20px 0 8px; 
    width: 110px
  }
  ul.bottom-nav { 
    align-items: center; 
    display: flex; 
    justify-content: center; 
    margin-left: 80px;
  li {
    color: rgba(255,255,255,0.2); 
    font-size: 14px; 
    padding: 14px 10px 0;
    display: inline-block; 
    margin: 10px 0;
    }
  }
}
.grid {
  color: #FFFF;
  font-size: 16px;
  margin: 30px auto 0; 
  margin-left: 160px;
  margin-right: 160px;
}

ul.artist-social-share {
  li {
    display: inline-block;
    margin-left: 15px;
    color: rgb(240, 215, 93);
    font-size: 16px;
    line-height: 20px;
      li {
      margin-left: 15px;
      color: rgb(240, 215, 93);
      font-size: 16px;
      line-height: 20px;
    }
    a {
      color: rgb(240, 215, 93);
      font-size: 16px;
      line-height: 20px;
    }
  }
}

