.mui-container.home-campaigns-container
  = render partial: 'partials/tiled_campaigns_one', locals: {campaign: campaigns.first}
  = if campaigns.count < 1
    = render partial: 'partials/tiled_campaigns_two_and_three', locals: {campaigns: campaigns.offset(1).limit(2)}
