= render partial: 'tiled_campaigns', locals: {campaigns: @featured_campaigns} if @featured_campaigns&.any?
.mui-container-fluid#home-events
    - @campaigns.each_slice(2) do |section|
        .mui-row
            - section.each do |campaign|
                = render partial: 'index_detail', locals: {campaign: campaign}
    