- @campaigns.each do |campaign|
    %h1.title
        = link_to campaign.title, campaign_path(campaign)
    %p
        = truncate(campaign.description, length: 100) { link_to ' (...)', campaign_path(campaign)} 
    %p= campaign.location
