$mui-primary-color: #293239;

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

@import 'mui';
@import "font-awesome";


html {
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-overflow-scrolling: auto;
  }
  
  body {
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-overflow-scrolling: auto;
    outline: none !important;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    * {
      outline: none !important;
      position: relative;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
      &::before, &::after {
        outline: none !important;
        position: relative;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
      }
    }
    background-color: #2d2d32;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: normal;
    padding-top: 75px;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
  }
  
  .fw-heavy {
    font-weight: 900;
  }
  
  a {
    color: inherit;
    text-decoration: none;
    &:visited, &:focus, &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
  
  .mt0 {
    margin-top: 0 !important;
  }
  
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: outside none;
    }
  }
  
  .nav > li > a {
    padding: 0;
    &:focus, &:hover {
      background-color: transparent;
    }
  }
  
  ul.nav li {
    display: inline-block;
    a {}
  }
  
  img.faux {
    //   This class is controlling the visibility of the carousell elements
    // display: none !important;
    // Will be enabled WHEN we get some js code in to handle the carousell
    width: 100vw;
    height: auto;
  }
  
  .logo-venue {
    background: transparent image-url('logo-venue.svg') center center no-repeat;
    background-size: contain;
    display: table;
    margin-left: auto;
    margin-right: auto;
  }
  
  .carousel {
    .carousel-indicators li {
      box-shadow: 0 0 3px rgba(255, 255, 255, 0.5) inset;
      height: 10px;
      margin: 0 2px;
      width: 10px;
      &.active {
        background-color: #7ed321;
        height: 10px;
        margin: 0 2px;
        width: 10px;
      }
    }
    .carousel-control {
      background: transparent none;
      width: 100px;
      -moz-transition: all 0.3s ease 0s;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      &:hover {
        background: transparent none;
        width: 100px;
        -moz-transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
      }
      svg {
        height: 40px;
        left: 50%;
        position: absolute;
        top: 50%;
        width: 40px;
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
    }
  }
  
  /* 1.1 Forms */
  
  .form-group {
    + .form-group {}
    .control-label {
      font-size: 16px;
      font-weight: normal;
      .fa {
        color: #f0d75d;
        font-size: 18px;
        margin-right: 4px;
        vertical-align: middle;
      }
    }
    .upload {
      background-color: #3C3D44;
      border: 0 none;
      /*border-color: #1E1E22; border-width: 3px 0 0; border-style: solid;*/
      border-radius: 0;
      color: #FFF;
      height: 40px;
      padding: 8px 12px;
    }
    .form-control {
      background-color: #3C3D44;
      border: 0 none;
      /*border-color: #1E1E22; border-width: 3px 0 0; border-style: solid;*/
      border-radius: 0;
      color: #FFF;
      height: 40px;
      padding: 8px 12px;
      &:focus {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.6);
      }
    }
    textarea.form-control {
      height: 123px;
      &.taller {
        height: 145px;
      }
    }
    .upload {
      color: rgba(255, 255, 255, 0.5);
      font-size: 12px;
      font-style: italic;
      height: auto;
      padding: 25px 12px;
      text-align: center;
      svg {
        display: table;
        height: 16px;
        margin: 0 auto 8px;
        width: 16px;
        -moz-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        polygon {
          fill: #f0d75d;
        }
      }
    }
    .form-submit {
      background-color: transparent;
      border: 1px solid #f0d75d;
      border-radius: 50px;
      display: table;
      font-size: 13px;
      font-weight: bold;
      margin: 30px auto 0;
      padding: 5px 30px;
    }
    .form-checkbox {
      display: table;
      font-size: 12px;
      margin: 20px auto 0;
      input[type="checkbox"] {
        display: none;
        + label {
          cursor: pointer;
          display: inline-block;
          margin: 0;
          padding-left: 26px;
          &::before {
            background: #3c3d44;
            content: '';
            display: block;
            height: 16px;
            left: 0px;
            position: absolute;
            top: 2px;
            width: 16px;
          }
        }
        &:checked {
          + label::before {
            box-shadow: 0 0 2px #f0d75d inset;
          }
          + label svg {
            display: block;
            position: absolute;
          }
        }
        + label svg {
          display: none;
          height: 20px;
          left: 1px;
          position: absolute;
          top: -3px;
          width: 20px;
          path {
            fill: #f0d75d;
          }
        }
      }
      a {
        color: #f0d75d;
      }
    }
  }
  
  .social-login-buttons {
    padding: 50px 0;
    a {
      border-radius: 5px;
      display: table;
      font-size: 15px;
      height: 47px;
      line-height: 47px;
      margin: 0 auto;
      padding-left: 47px;
      width: 208px;
      + a {
        margin-top: 20px;
      }
    }
    .facebook {
      background-color: #4267B2;
      &::before {
        background: transparent image-url('icon-facebook.jpg') center center no-repeat;
        background-size: contain;
        border-radius: 2px;
        content: '';
        display: block;
        height: 26px;
        left: 13px;
        width: 26px;
        position: absolute;
        top: 50%;
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
    .google {
      background-color: #FFF;
      color: #666;
      &::before {
        background: transparent image-url('icon-google.jpg') center center no-repeat;
        background-size: contain;
        content: '';
        display: block;
        height: 26px;
        left: 13px;
        width: 26px;
        position: absolute;
        top: 50%;
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
  }
  
  [data-formstep] {
    display: none;
  }
  
  .active[data-formstep] {
    display: block;
  }
  
  /* 1.2 Modals */
  
  .modal-backdrop.in {
    background-color: rgb(34, 32, 32);
    opacity: 0.85;
  }
  
  .modal {
    .modal-content {
      background-color: rgb(43, 42, 46);
    }
    &.vcentered {
      .modal-dialog {
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        margin-top: 0;
        margin-bottom: 0;
      }
      &.fade .modal-dialog {
        transform: translate(0, -10%);
      }
      &.in .modal-dialog {
        transform: translate(0, 0);
      }
    }
    .modal-dialog {
      width: 1020px;
    }
    .modal-content {
      background-color: rgba(45, 45, 49, 0.8);
    }
    .logo-venue {
      height: 78px;
      width: 216px;
    }
  }
  
  #signup-role-select.modal .role-select {
    display: flex;
    margin: 8vh 0;
    a {
      color: #f0d75d;
      flex: 1;
      font-size: 64px;
      font-weight: 900;
      padding: 6vh 0;
      text-align: center;
      text-transform: uppercase;
      + a::before {
        background-color: #f0d75d;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 3px;
      }
    }
  }
  
  .modal.form-modal {
    .modal-body {
      padding: 80px 100px;
    }
    h4, h5 {
      font-weight: normal;
      font-size: 16px;
      margin: 40px 0;
      text-align: center;
    }
    h4 {
      color: #f0d75d;
      text-transform: uppercase;
    }
  }
  
  /* 2.0 Header */
  
  #header {
    background-color: #171313;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    .container .row {
      align-items: center;
      display: flex;
      height: 75px;
      justify-content: center;
      > * {
        display: flex;
      }
    }
    #logo {
      display: inline-block;
      height: 37px;
      margin: 0 0 12px;
      width: 110px;
    }
    ul#main-nav {
      align-items: center;
      display: flex;
      justify-content: center;
      margin-left: 10px;
      li a {
        color: #f0d75d;
        font-size: 18px;
        padding: 5px 10px 0;
      }
    }
    .container .row > .has-top-right-links {
      justify-content: end;
    }
    ul#top-right-links {
      float: right;
      li {
        + li {
          margin-left: 10px;
        }
        a {
          font-size: 12px;
          font-weight: bold;
          padding: 5px 20px;
        }
        &.buttoned a {
          border: 1px solid #f0d75d;
          border-radius: 50px;
        }
      }
    }
  }
  
  /* 3.0 Content */
  
  #content {}
  
  #hero-carousel.carousel .item {
    background: transparent none center center no-repeat;
    background-size: cover;
    height: calc(100vh - 75px);
    .carousel-caption {
      align-items: center;
      display: flex;
      justify-content: center;
      height: 100%;
      left: 0;
      padding: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
    h1, h2 {
      font-size: 160px;
      line-height: 22vh;
      padding-right: 10%;
      text-align: left;
      text-transform: uppercase;
      width: 80%;
    }
  }
  
  .home-featured-wrap {
    height: auto;
    margin: 7vh 0;
    padding-top: 66.66%;
  }
  
  #home-featured {
    display: flex;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    > {
      .col {
        display: flex;
        flex-direction: column;
      }
      .col-1 {
        flex: 3;
      }
      .col-2 {
        flex: 2;
      }
      .col-3 {
        flex: 1;
      }
    }
    .card {
      background: transparent none center center no-repeat;
      background-size: cover;
      flex: 1;
      &::before {
        background-color: transparent;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
        -moz-transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
      }
      &:hover::before {
        background-color: rgba(0, 0, 0, 0.2);
      }
      .caption {
        bottom: 5%;
        display: block;
        font-size: 15px;
        font-weight: 900;
        left: 5%;
        padding: 1.8% 6%;
        position: absolute;
        right: 5%;
        width: auto;
        z-index: 2;
      }
      .date-venue + .caption {
        bottom: 15%;
      }
      .details + .date-venue + .caption {
        bottom: 21%;
      }
      .date-venue {
        bottom: 5%;
        display: block;
        font-size: 14px;
        left: 5%;
        padding: 1% 3.5%;
        position: absolute;
        right: 5%;
        width: auto;
        z-index: 2;
      }
      .details + .date-venue {
        bottom: 11%;
      }
      .date-venue {
        .date {
          font-weight: 900;
        }
        .venue {
          float: right;
          text-transform: uppercase;
        }
      }
      .details {
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 );
        bottom: 0;
        display: flex;
        font-size: 12px;
        left: 0;
        padding: 5% 5.5% 3%;
        position: absolute;
        right: 0;
        width: auto;
        z-index: 1;
        .stats {
          flex-grow: 1;
          .stat {
            display: inline-block;
            + .stat {
              margin-left: 2%;
            }
          }
        }
        .reserve svg {
          display: inline-block;
          height: 16px;
          vertical-align: middle;
          width: 16px;
          -moz-transform: translate(20%, -8%);
          -webkit-transform: translate(20%, -8%);
          transform: translate(20%, -8%);
          polygon {
            fill: #7ed321;
          }
        }
      }
      .funded {
        display: block;
        font-size: 15px;
        line-height: 1.4em;
        position: absolute;
        right: 5%;
        text-align: right;
        top: 5%;
        strong {
          color: #f0d75d;
          display: block;
          font-size: 20px;
          font-weight: 900;
        }
      }
    }
    > {
      .col-1 .card {
        .date-venue + .caption {
          bottom: 12%;
        }
        .details + .date-venue + .caption {
          bottom: 15%;
        }
        .caption, .date-venue {
          background-color: #e3c532;
        }
        .caption {
          font-size: 60px;
          font-weight: normal;
          line-height: 1.2em;
          padding: 0 2.5% 1%;
        }
      }
      .col-2 .card {
        .caption, .date-venue {
          background-color: #f09d5d;
        }
        .caption {
          font-size: 32px;
          line-height: 1.2em;
          padding: 1% 3%;
        }
      }
      .col-3 .card .caption {
        background-color: #39add1;
      }
    }
    > .col-1 .card {
      .date-venue {
        font-size: 20px;
        padding: 1% 2.5%;
      }
      .details + .date-venue {
        bottom: 8%;
      }
    }
    > .col-1 .card .details {
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.55) 100%);
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.55) 100%);
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.55) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#8c000000',GradientType=0 );
      font-size: 15px;
      padding: 7% 5.5% 2.5%;
    }
    > .col-1 .card .details .reserve svg {
      height: 24px;
      width: 24px;
    }
    > .col-1 .card .funded {
      top: 4%;
    }
    > .col-1 .card .funded strong {
      color: #7ed321;
    }
  }
  
  #home-events {
    margin: 7vh -15px;
  }
  
  .home-featured-container + .container #home-events {
    margin-top: 4vh;
  }
  
  #home-events .event {
    background-color: #3C3D44;
    display: block;
    height: auto;
    margin: 15px 0;
    padding-top: 30%;
    .thumb {
      background: transparent none center center no-repeat;
      background-size: cover;
      height: auto;
      padding-top: 30%;
      position: absolute;
      top: 0;
      width: 30%;
      &::before {
        background-color: transparent;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
        -moz-transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
      }
    }
    &:hover .thumb::before {
      background-color: rgba(0, 0, 0, 0.2);
    }
    .title {
      left: 35%;
      font-size: 32px;
      font-weight: 900;
      line-height: 1em;
      max-width: 55%;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      text-overflow: ellipsis;
      top: 10%;
    }
    .venue-date {
      bottom: 8%;
      left: 35%;
      line-height: 1.8em;
      position: absolute;
    }
    .reserved {
      font-size: 20px;
      font-weight: 900;
      position: absolute;
      right: 5%;
      top: 10%;
    }
    .reserve {
      bottom: 8%;
      font-size: 22px;
      position: absolute;
      right: 5%;
      svg {
        display: inline-block;
        height: 24px;
        vertical-align: middle;
        width: 24px;
        -moz-transform: translate(20%, -8%);
        -webkit-transform: translate(20%, -8%);
        transform: translate(20%, -8%);
        polygon {
          fill: #7ed321;
        }
      }
    }
  }
