@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
$mui-primary-color: rgb(43, 42, 46);
$mui-label-font-color: rgba(white, 0.7);
$mui-input-font-color: rgba(white, 0.7);
$mui-input-placeholder-color: rgba(white, 0.7);
$mui-form-legend-font-color: rgba(white, 0.7);
$mui-btn-primary-bg-color: $mui-primary-color;
$mui-btn-flat-bg-color-hover: darken($mui-primary-color, 5%);
$mui-overlay-bg-color: rgba($mui-primary-color, 0.70);
$choices-selector: 'choices' !default;
$choices-font-size-lg: 16px !default;
$choices-font-size-md: 14px !default;
$choices-font-size-sm: 12px !default;
$choices-guttering: 24px !default;
$choices-border-radius: 2.5px !default;
$choices-border-radius-item: 20px !default;
$choices-bg-color: #222020 !default;
$choices-bg-color-disabled: rgba($mui-primary-color, 0.70);
$choices-bg-color-dropdown: $mui-primary-color !default;
$choices-text-color: #333333 !default;
$choices-keyline-color: #333333 !default;
$choices-primary-color: #222020 !default;
$choices-disabled-color: rgba($mui-primary-color, 0.70);
$choices-highlight-color: rgba($mui-primary-color, 0.70);
$choices-button-icon-path: '../../assets' !default;
$choices-button-dimension: 8px !default;
$choices-button-offset: 8px !default;
@import 'mui';
@import 'custom_app';
@import 'artist_page';
@import 'mui_extensions';
@import 'izitoast/dist/css/iziToast.min.css';
@import "font-awesome-sprockets";
@import "font-awesome";
@import "social-share-button";
@import "choices.js/assets/styles/scss/choices.scss";
@import "choices_customization";
