/**
 * Header CSS
 */
//  header {
//     position: fixed;
//     top: 0;
//     right: 0;
//     left: 0;
//     z-index: 2;
//     ul.mui-list--inline {
//       margin-bottom: 0;
//     }
//     a {
//       color: white;
//     }
//     table {
//       width: 100%;
//     }
//   }


  /**
   * Labels
   */

  //  .mui-textfield--float-label > label {
  //    color: rgba(white, 0.7);
  //  }

  // label {
  //   color: rgba(white, 0.7) !important;
  // }