.logo-venue { background: transparent image-url('logo-venue.svg') center center no-repeat; background-size: contain; display: table; margin-left: auto; margin-right: auto }
.form-group .form-submit { color: white; background-color: transparent; border: 1px solid rgb(240,215,93); border-radius: 50px; display: table; font-size: 13px; font-weight: bold; margin: 30px auto 0; padding: 5px 30px }
.mui-textfield > input { background-color: transparent; border: 0 none; /*border-color: #1E1E22; border-width: 3px 0 0; border-style: solid;*/ border-radius: 0; color: #FFF; height: 40px; padding: 8px 12px }

.artists-list .title { display: block; font-size: 23px; font-weight: 700; margin-top: 15px; text-align: center; -moz-transition: all 0.3s ease 0s; -webkit-transition: all 0.3s ease 0s; transition: all 0.3s ease 0s }

.carousel-wrapper {
  .carousel-control {
    cursor: pointer;
    background: transparent none;
    width: 100px;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 999;
    &:hover {
      background: transparent none;
      width: 100px;
      -moz-transition: all 0.3s ease 0s;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
    }
    svg {
      height: 40px;
      width: 40px;
      -moz-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    &:nth-of-type(1) {
      height: 100px;
      position: absolute;
      left: 0;
      top: 50%;
    }
    
    &:nth-of-type(2) {
      height: 100px;
      position: absolute;
      right: 0;
      top: 50%;
    }

  }
}

.form-group {
  .form-submit { 
    background-color: transparent;
    color: #FFFF;
    border: 1px solid rgb(240,215,93);
    border-radius: 50px; 
    display: table; 
    font-size: 13px; 
    font-weight: bold; 
    margin: 30px auto 0; 
    padding: 5px 30px 
  }
  ul.admin-links li { display: inline-block; }
}
