%h1 
    Thank you for your purchase 
    = @user.email

%p Here is your ticket. Make sure to print it or have your smartphone ready at the entrence. 
We will need to take a look at it!

%p /The Venue Team


