%h1 
    Thank you for your purchase 
    = @user.email

%p Here is the text for the email with the ticket : On Behalf of the Artist we would like to thank you for your support! Here is your ticket and now the only thing for you to do is follow the campaign and updates about the show.
%pAs always, see you at the concert!

%p Cheers,
%p /The Venue Team


